
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



body
{
    background-color: white;
    box-sizing: border-box;

}

header 
{
    width: 100%;
    height: 120px;
    padding: 20px;
}

.encabezado
{
    width: 25%;
    float: left;
    margin: 0 auto
    
}

.encabezado img
{
    width: 100%;
}


.encabezado2
{
    width: 75%;
    float: left;
    margin: 0 auto;
    
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  float: left;
  margin-right: 8%;
margin-top: 5%;
    
}


.menu a
{
    color: darkgreen;
    font-size: 20px;
    text-decoration: none;
    
}

section 
{
    width: 100%;
    float: left;
    padding: 20px;

}

.section1 img
{
   margin: 0 auto;
    width: 100%;
}

article
{
    width: 100%;
    float: left;
    padding: 20px;

}

ul
{
    list-style: none;
}

.article1
{
    width:100% ;
    float: left;
    
}

.article1 img
{
    margin: 0 auto;
    width: 100%;
}

.inicio
{
    width: 40%;
    float: left;
    margin: 0 auto;
}

.inicio2
{
    width: 60%;
    float: left;
    margin: 0 auto;
    padding: 20px;
    font-size: 16px;
    text-align: justify;
    
    
    
}
.inicio2 h2
{
    padding: 20px;
    color: darkgreen;
}







.article2
{
    width:100% ;
    float: left;
}

.article2 img
{
    margin: 0 auto;
    width: 100%;
}

.inicio3
{
    width: 40%;
    float: left;
    margin: 0 auto;
}

.inicio4
{
    width: 60%;
    float: left;
    margin: 0 auto;
    padding: 20px;
    font-size: 16px;
    text-align: justify;
    
}
.inicio4 h2
{
    padding: 20px;
    color: darkgreen;
}






.article3
{
    width:100% ;
    float: left;
}

.article3 img
{
    margin: 0 auto;
    width: 100%;
}

.inicio5
{
    width: 40%;
    float: left;
    margin: 0 auto;
}

.inicio6
{
   width: 60%;
    float: left;
    margin: 0 auto;
    padding: 20px;
    font-size: 16px;
    text-align: justify;
    
}
.inicio6 h2
{
    padding: 20px;
    color: darkgreen;
}


footer
{
    width: 100%;
    height: 450px;
    padding: 50px;
    background-color: black;
    float: left;
    margin: 0 auto;
    color: white;
    
}

h1
{
    color: red;
    font-size: 25px
}


.footer1
{
    width: 30%;
    float: left;
    margin: 0 auto;
}

.footer2
{
    width: 35%;
    float: left;
    margin: 0 auto;
}

.footer3
{
    width: 35%;
    float: left;
    margin: 0 auto;
}


.ubicaciones-links
{
    color: white
}


    